<!--=============== REMIXICONS ===============-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
/>

<!--=============== SWIPER ===============-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!--=============== CSS ===============-->
<link rel="stylesheet" href="static/css/homepage.css" />
<!--==================== MAIN ====================-->
<main class="main">
  <!--==================== HOME ====================-->
  <section class="home section__lg">
    <div class="home__container grid container">
      <div class="home__content">
        <span class="home__subtitle">Subtitle</span>
        <h1 class="home__title">
          Title
          <span>Hello</span>
        </h1>
        <p class="home__description">Description</p>
        <a href="" class="btn">Shop Now</a>
      </div>
      <img src="static/images/home-img.png" alt="" class="home__img" />
    </div>
  </section>
  <!--==================== CATEGORIES ====================-->
  <section class="categories container section">
    <h3 class="section__title"><span>Popular</span> Categories</h3>
    <div class="categories__container swiper">
      <div class="swiper-wrapper">
        <a href="" class="category__item swiper-slide">
          <img
            src="static/images/category-1.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="catogory__title">T-Shirt</h3>
        </a>

        <a href="" class="category__item swiper-slide">
          <img
            src="static/images/category-2.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="catogory__title">Bags</h3>
        </a>

        <a href="" class="category__item swiper-slide">
          <img
            src="static/images/category-3.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="catogory__title">Sandal</h3>
        </a>

        <a href="" class="category__item swiper-slide">
          <img
            src="static/images/category-4.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="catogory__title">Scarf Cap</h3>
        </a>

        <a href="" class="category__item swiper-slide">
          <img
            src="static/images/category-5.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="catogory__title">Shoes</h3>
        </a>

        <a href="" class="category__item swiper-slide">
          <img
            src="static/images/category-6.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="catogory__title">Pillowcase</h3>
        </a>

        <a href="" class="category__item swiper-slide">
          <img
            src="static/images/category-7.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="catogory__title">Jumpsuit</h3>
        </a>

        <a href="" class="category__item swiper-slide">
          <img
            src="static/images/category-8.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="catogory__title">Hats</h3>
        </a>
      </div>
      <div class="swiper-button-next">
        <i class="ri-arrow-right-s-line"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="ri-arrow-left-s-line"></i>
      </div>
    </div>
  </section>
  <!--==================== PRODUCTS ====================-->
  <section class="product section container">
    <div class="tab__btns">
      <span class="tab__btn action-tab">Featured</span>
      <span class="tab__btn">Popular</span>
      <span class="tab__btn">New Added</span>
    </div>

    <div class="tab__items">
      <div class="tab__item action-tab">
        <div class="products__container grid">
          <div class="product__item">
            <div class="product__banner">
              <a href="" class="product__images">
                <img
                  src="static/images/product-1-1.jpg"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="static/images/product-1-2.jpg"
                  alt=""
                  class="product__img hover"
                />
              </a>

              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="ri-eye-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                  <i class="ri-heart-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="ri-shuffle-line"></i>
                </a>
              </div>

              <div class="product__badge light-pink">HOT</div>
            </div>

            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="">
                <h3 class="product__title">Name of Shirt</h3>
              </a>
              <div class="product__rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">199</span>
                <span class="old__price">299</span>
              </div>

              <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                <i class="ri-shopping-cart-line"></i>
              </a>
            </div>
          </div>

          <div class="product__item">
            <div class="product__banner">
              <a href="" class="product__images">
                <img
                  src="static/images/product-2-1.jpg"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="static/images/product-2-2.jpg"
                  alt=""
                  class="product__img hover"
                />
              </a>

              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="ri-eye-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                  <i class="ri-heart-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="ri-shuffle-line"></i>
                </a>
              </div>

              <div class="product__badge light-green">HOT</div>
            </div>

            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="">
                <h3 class="product__title">Name of Shirt</h3>
              </a>
              <div class="product__rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">199</span>
                <span class="old__price">299</span>
              </div>

              <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                <i class="ri-shopping-cart-line"></i>
              </a>
            </div>
          </div>

          <div class="product__item">
            <div class="product__banner">
              <a href="" class="product__images">
                <img
                  src="static/images/product-3-1.jpg"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="static/images/product-3-2.jpg"
                  alt=""
                  class="product__img hover"
                />
              </a>

              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="ri-eye-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                  <i class="ri-heart-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="ri-shuffle-line"></i>
                </a>
              </div>

              <div class="product__badge light-orange">HOT</div>
            </div>

            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="">
                <h3 class="product__title">Name of Shirt</h3>
              </a>
              <div class="product__rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">199</span>
                <span class="old__price">299</span>
              </div>

              <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                <i class="ri-shopping-cart-line"></i>
              </a>
            </div>
          </div>

          <div class="product__item">
            <div class="product__banner">
              <a href="" class="product__images">
                <img
                  src="static/images/product-4-1.jpg"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="static/images/product-4-2.jpg"
                  alt=""
                  class="product__img hover"
                />
              </a>

              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="ri-eye-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                  <i class="ri-heart-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="ri-shuffle-line"></i>
                </a>
              </div>

              <div class="product__badge light-blue">HOT</div>
            </div>

            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="">
                <h3 class="product__title">Name of Shirt</h3>
              </a>
              <div class="product__rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">199</span>
                <span class="old__price">299</span>
              </div>

              <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                <i class="ri-shopping-cart-line"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="tab__item">
        <div class="products__container grid">
          <div class="product__item">
            <div class="product__banner">
              <a href="" class="product__images">
                <img
                  src="static/images/product-1-1.jpg"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="static/images/product-1-2.jpg"
                  alt=""
                  class="product__img hover"
                />
              </a>

              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="ri-eye-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                  <i class="ri-heart-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="ri-shuffle-line"></i>
                </a>
              </div>

              <div class="product__badge light-pink">HOT</div>
            </div>

            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="">
                <h3 class="product__title">Name of Shirt</h3>
              </a>
              <div class="product__rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">199</span>
                <span class="old__price">299</span>
              </div>

              <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                <i class="ri-shopping-cart-line"></i>
              </a>
            </div>
          </div>

          <div class="product__item">
            <div class="product__banner">
              <a href="" class="product__images">
                <img
                  src="static/images/product-2-1.jpg"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="static/images/product-2-2.jpg"
                  alt=""
                  class="product__img hover"
                />
              </a>

              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="ri-eye-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                  <i class="ri-heart-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="ri-shuffle-line"></i>
                </a>
              </div>

              <div class="product__badge light-green">HOT</div>
            </div>

            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="">
                <h3 class="product__title">Name of Shirt</h3>
              </a>
              <div class="product__rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">199</span>
                <span class="old__price">299</span>
              </div>

              <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                <i class="ri-shopping-cart-line"></i>
              </a>
            </div>
          </div>

          <div class="product__item">
            <div class="product__banner">
              <a href="" class="product__images">
                <img
                  src="static/images/product-3-1.jpg"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="static/images/product-3-2.jpg"
                  alt=""
                  class="product__img hover"
                />
              </a>

              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="ri-eye-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                  <i class="ri-heart-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="ri-shuffle-line"></i>
                </a>
              </div>

              <div class="product__badge light-orange">HOT</div>
            </div>

            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="">
                <h3 class="product__title">Name of Shirt</h3>
              </a>
              <div class="product__rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">199</span>
                <span class="old__price">299</span>
              </div>

              <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                <i class="ri-shopping-cart-line"></i>
              </a>
            </div>
          </div>

          <div class="product__item">
            <div class="product__banner">
              <a href="" class="product__images">
                <img
                  src="static/images/product-4-1.jpg"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="static/images/product-4-2.jpg"
                  alt=""
                  class="product__img hover"
                />
              </a>

              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="ri-eye-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                  <i class="ri-heart-line"></i>
                </a>

                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="ri-shuffle-line"></i>
                </a>
              </div>

              <div class="product__badge light-blue">HOT</div>
            </div>

            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="">
                <h3 class="product__title">Name of Shirt</h3>
              </a>
              <div class="product__rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">199</span>
                <span class="old__price">299</span>
              </div>

              <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                <i class="ri-shopping-cart-line"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!--=============== MAIN JS ===============-->
<script src="static/js/homepage.js"></script>
